<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LineInScheduler.My.MySettings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<userSettings>
		<LineInScheduler.My.MySettings>
   <setting name="LineIn" serializeAs="String">
    <value />
   </setting>
   <setting name="LineInID" serializeAs="String">
    <value />
   </setting>
   <setting name="Background" serializeAs="String">
    <value />
   </setting>
   <setting name="MuteProgram" serializeAs="String">
    <value />
   </setting>
  </LineInScheduler.My.MySettings>
	</userSettings>
</configuration>